mat-dialog-content {
    font-size: 14px;
  }
  
  .detail-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .detail-row p {
    margin: 0;
    padding: 0 10px;
    flex: 1;
  }
  
  mat-dialog-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  mat-dialog-actions {
    justify-content: flex-end;
  }
  
  