<div class="search-form-div">
<form [formGroup]="searchForm" class="search-form" (ngSubmit)="onSubmit()">
    <mat-card calss="search-mat-card">
      <mat-card-content>
        <div class="search-row">
          <mat-form-field appearance="fill" class="input-field">
            <mat-label>Search</mat-label>
            <input matInput formControlName="serial_number" placeholder="Enter your search query" required>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" class="search-button">Search</button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>

 <!-- Error message -->
<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<div class="issue-inventory-form-div">
  <form [formGroup]="issueInventoryForm" class="issue-inventory-form" >
    <mat-card class="isuue-mat-card">
       <mat-card-content class="isuue-mat-content">
        <div class="issue-form-grid">
            <!-- add class="full-width" to display field in one full row-->

            <mat-form-field class="issue-mat-form-field" appearance="fill">
                <mat-label>Category</mat-label>
                <input matInput formControlName="category" readonly >
            </mat-form-field>


              <mat-form-field class="issue-mat-form-field" appearance="fill">

                <mat-label>Subcategory</mat-label>
                <input matInput formControlName="sub_category" readonly >
              </mat-form-field>

          <mat-form-field class="issue-mat-form-field" appearance="fill">   
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" readonly >
          </mat-form-field>
  
          <mat-form-field class="issue-mat-form-field" appearance="fill">
            <mat-label>Make</mat-label>
            <input matInput formControlName="make" readonly>
          </mat-form-field>
  
          <mat-form-field  class="issue-mat-form-field" appearance="fill">
            <mat-label>Model</mat-label>
            <input matInput formControlName="model" readonly>
          </mat-form-field>
  
         

          <mat-form-field  class="issue-mat-form-field" appearance="fill">
            <mat-label>PO Number</mat-label>
            <input matInput formControlName="order_id" readonly >
          </mat-form-field>
          
         <mat-form-field  class="issue-mat-form-field" appearance="fill">
            <mat-label>Receipt Date</mat-label>
            <input matInput formControlName="receipt_date" readonly>
           
          </mat-form-field>
  
          <mat-form-field class="issue-mat-form-field" appearance="fill">
            <mat-label>Warranty End Date</mat-label>
            <input matInput formControlName="warranty_expiration" readonly >
            
          </mat-form-field>

          <mat-form-field  class="issue-mat-form-field" appearance="fill">
            <mat-label>Location</mat-label>
            <input matInput formControlName="location" readonly>
          </mat-form-field>
  
          <mat-form-field  class="issue-mat-form-field" appearance="fill">
            <mat-label>Status</mat-label>
            <input matInput formControlName="status" readonly>
          </mat-form-field>

          <mat-form-field class="issue-mat-form-field" appearance="fill">
            <mat-label>Serial Number</mat-label>
            <input matInput formControlName="serial_number" readonly>
          </mat-form-field>
  
          <mat-form-field class="issue-mat-form-field"  appearance="fill">
            <mat-label>Notes</mat-label>
            <textarea matInput formControlName="notes" readonly></textarea>
          </mat-form-field>
             
          <mat-form-field appearance="fill" >
            <mat-label class="issue-form-field-bg-color">Issue Date</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="assigned_date" required>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill" >
            <mat-label class="issue-form-field-bg-color">Assigned Condition</mat-label>
            <mat-select formControlName="assigned_condition">
              <mat-option *ngFor="let type of assignedCondition" [value]="type">{{ type }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" >
            <mat-label class="issue-form-field-bg-color">Assigned Type</mat-label>
            <mat-select formControlName="assigned_type">
              <mat-option *ngFor="let type of assignedTypes" [value]="type">{{ type }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label class="issue-form-field-bg-color">Employee / Location Code</mat-label>
            <input   matInput formControlName="assignee_id"  (keydown.enter)="onAssigneeIdChange()"
            (blur)="onAssigneeIdChange()">
          </mat-form-field>

          <mat-form-field  appearance="fill" class="employee_location_detail">
            <mat-label class="issue-form-field-bg-color">Employee / Location Detail</mat-label>
            <input matInput formControlName="assigned_name" readonly>
          </mat-form-field>


        </div>
        </mat-card-content>
  
      
      <!-- <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Add Inventory</button>
        <button mat-button type="reset">Reset</button>
      </mat-card-actions> -->
    </mat-card>
   </form>
 </div>