<div class="edit-inventory">
    
  
    <!-- Search by Serial Number -->
    <div *ngIf="!editForm">
       <form [formGroup]="searchForm" class="search-form" (ngSubmit)="searchInventory()">
        <mat-card class="search-mat-card">
          <mat-card-content class="search-row">
            <mat-form-field  class="search-mat-form-field" appearance="fill" class="input-field">
              <input matInput formControlName="serialNumber" placeholder="Enter your serial number" required>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" class="search-button">Search</button>
          </mat-card-content>
          <!-- Error message -->
          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>
        </mat-card>
      </form>
    </div>
  
    <!-- Edit Form -->
    <div *ngIf="editForm">
        <form [formGroup]="editInventoryForm" (ngSubmit)="onSubmit()">
            <mat-card>
              <mat-card-title style="text-align: center; padding-bottom: 1%;">Edit Inventory</mat-card-title>
              <mat-card-content>
                <div class="form-grid">
          
                  <mat-form-field appearance="fill">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category" (selectionChange)="onCategoryChange($event.value)">
                      <mat-option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  
                  <mat-form-field appearance="fill">
                    <mat-label>Subcategory</mat-label>
                    <mat-select formControlName="sub_category">
                      <mat-option *ngFor="let sub_category of subcategories" [value]="sub_category">{{ sub_category }}</mat-option>
                    </mat-select>
                  </mat-form-field>
          
                  <mat-form-field appearance="fill">   
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" required>
                  </mat-form-field>
          
                  <mat-form-field appearance="fill">
                    <mat-label>Make</mat-label>
                    <input matInput formControlName="make" required>
                  </mat-form-field>
          
                  <mat-form-field appearance="fill">
                    <mat-label>Model</mat-label>
                    <input matInput formControlName="model" required>
                  </mat-form-field>
          
                  <mat-form-field appearance="fill">
                    <mat-label>PO Number</mat-label>
                    <input matInput formControlName="order_id" required>
                  </mat-form-field>
          
                  <mat-form-field appearance="fill">
                    <mat-label>Receipt Date</mat-label>
                    <input matInput [matDatepicker]="picker3" formControlName="receipt_date" required>
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>
          
                  <mat-form-field appearance="fill">
                    <mat-label>Warranty End Date</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="warranty_expiration" required>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
          
                  <mat-form-field appearance="fill">
                    <mat-label>Location</mat-label>
                    <input matInput formControlName="location" required>
                  </mat-form-field>
          
                  <!-- <mat-form-field appearance="fill">
                    <mat-label>Status</mat-label>
                    <input matInput formControlName="status" required>
                  </mat-form-field> -->
                  <mat-form-field appearance="fill" >
                    <mat-label>Condition</mat-label>
                    <mat-select formControlName="condition" required>
                      <mat-option *ngFor="let type of itemCondition" [value]="type">{{ type }} </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status" required>
                      <mat-option *ngFor="let type of statusLov" [value]="type">{{ type }} </mat-option>
                    </mat-select>
                  </mat-form-field>
          
                  <mat-form-field appearance="fill">
                    <mat-label>Serial Number</mat-label>
                    <input matInput formControlName="serial_number" placeholder="serial_number">
                  </mat-form-field>
          
                  <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Notes</mat-label>
                    <textarea matInput formControlName="notes"></textarea>
                  </mat-form-field>
                  </div>
                </mat-card-content>
              
              <mat-card-actions style="align-self: center;">
                <button mat-raised-button color="primary" class="update-form-mat-button"  type="submit">Update</button>
                <button mat-raised-button color="primary" class="edit-form-mat-button"  mat-button type="reset" (click)="onCancle()">Cancel</button>
            </mat-card-actions>
            </mat-card>
          </form>
          
    </div>
  </div>
