
/* Increase specificity and use !important to override Bootstrap */
.custom-thead {
  background-color: #50cef5 !important;  /* Apply your theme color */
  color: white !important;  /* Ensure text color is white for contrast */
}

.custom-thead th {
  font-weight: bold !important;  /* Make the headers bold */
} */
/* Custom table wrapper for responsiveness */
.custom-table-responsive {
  overflow-x: auto;
  margin: 20px 0; /* Add some margin */
}

/* Custom table styles */
.custom-table {
  width: 100%;
  border-collapse: collapse; /* Ensure no space between borders */
  background-color: #fff; /* Background color */
  border: 1px solid #dee2e6; /* Border around the table */
  margin-top: 5px;
}

/* Custom header */
.custom-table thead {
  background-color: #50cef5; /* Custom header background */
  color: #081e3f; /* White text */
}

/* Custom header font and styles */
.custom-table thead th {
  font-weight: bold;
  padding: 10px; /* Padding for table header */
  text-align: left;
  border-bottom: 2px solid #dee2e6; /* Border below header */
}

/* Custom body rows */
.custom-table tbody tr {
  border-bottom: 1px solid #dee2e6; /* Border below each row */
}

/* Custom cell styles */
.custom-table tbody td {
  padding: 10px;
  text-align: left;
}

/* Hover effect */
.custom-table tbody tr:hover {
  background-color: #f1f1f1; /* Light gray hover background */
}

/* For smaller screens, ensure table is scrollable */
@media (max-width: 767px) {
  .custom-table-responsive {
    overflow-x: scroll;
  }
}



  /* Default styles for search input type and button larger screens (desktop) */
  .custom-input-width {
    width: 15%; /* Adjust this width as needed for desktop */
  }
  
  .custom-button-width {
    width: auto; /* Button width as required for desktop */
  }
  
  /* Styles for mobile devices */
  @media (max-width: 768px) {
    .custom-input-width {
      width: 60%; /* Adjust this width as needed for mobile */
    }
  
    .custom-button-width {
      width: 35%; /* Adjust button width as needed for mobile */
    }
  }
  
  .error-msg p{
    color: red;
    margin-top: 10px;
    text-align: center;
    font-size: larger;
  }