<body>
 
  <header class="header">
   
    <div class="header-content">
      <h1 class="header-title">Madhya Pradesh Paschim Kshetra Vidyut Vitran Company Limited</h1>
    </div>
  </header>
<div class="container">
    <div class="card">
      <h2>IT Inventory Management</h2>
      <form #login="ngForm" (ngSubmit)="onLogin(login.value)" >
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter your username" ngModel/> 
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" ngModel/>
        <button type="submit">Login</button>
      </form>
      <label for="message" style="margin: auto;padding-top: 2%;">© Copyright MPPKVVCL Indore</label>
    </div>
</div>

</body>
    <!-- <div class="card" style="display: none;">
      <h2>Register Form</h2>
      <form>
        <label for="fullname">Full Name</label>
        <input type="text" id="fullname" placeholder="Enter your full name">
  
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="Enter your email">
  
        <label for="new-password">New Password</label>
        <input type="password" id="new-password" placeholder="Enter your new password">
  
        <button type="submit">Register</button>
      </form>
      <div class="switch">Already have an account? <a href="#" onclick="switchCard()">Login here</a></div>
    </div>
   -->