.card-header {
    background-color:  #50cef5;
    color: white;
    text-align: center;
    text-decoration: solid;
    font-size: large;
}
.card-header {
    padding: 20px 0;  /* Ensures equal padding on the top and bottom */
  }
  
  
  .card-header h4 {
    margin: 0;  
    font-weight: bold; 
    font-family:  Roboto, sans-serif;;
    font-size: 1.2em;
    color:#081e3f
  }
  .error-msg p{
    color: red;
    margin-top: 10px;
    text-align: center;
    font-size: larger;
  }