.form-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  
  .full-width {
    grid-column: span 2; /* Makes the field span across all columns */
  }
  
  mat-form-field {
    width: 100%;
  }
  


/* mat-card {
    max-width: 600px;
    margin: 20px auto;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: space-between;
  } */
  