<form [formGroup]="inventoryForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-title>Add Inventory</mat-card-title>
      <mat-card-content>
        <div class="form-grid">
            <!-- add class="full-width" to display field in one full row-->

            <mat-form-field appearance="fill">
                <mat-label>Category</mat-label>
                <mat-select formControlName="category" (selectionChange)="onCategoryChange($event.value)">
                  <mat-option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</mat-option>
                </mat-select>
              </mat-form-field>
              
              <mat-form-field appearance="fill">
                <mat-label>Subcategory</mat-label>
                <mat-select formControlName="subcategory">
                  <mat-option *ngFor="let subcategory of subcategories" [value]="subcategory">{{ subcategory }}</mat-option>
                </mat-select>
              </mat-form-field>

          <mat-form-field appearance="fill">   
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Make</mat-label>
            <input matInput formControlName="make" required>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Model</mat-label>
            <input matInput formControlName="model" required>
          </mat-form-field>
  
         
<!--   
          <mat-form-field appearance="fill">
            <mat-label>Assigned Type</mat-label>
            <mat-select formControlName="assignedType">
              <mat-option *ngFor="let type of assignedTypes" [value]="type">{{ type }}</mat-option>
            </mat-select>
          </mat-form-field> -->
  
          <!-- <mat-form-field appearance="fill">
            <mat-label>Assigned ID</mat-label>
            <input matInput formControlName="assignedId" required>
          </mat-form-field> -->
  
          <mat-form-field appearance="fill">
            <mat-label>PO Number</mat-label>
            <input matInput formControlName="poNumber" required>
          </mat-form-field>
          <!-- <mat-form-field appearance="fill">
            <mat-label>Purchase Date</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="purchaseDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field> -->

         <mat-form-field appearance="fill">
            <mat-label>Receipt Date</mat-label>
            <input matInput [matDatepicker]="picker3" formControlName="receiptDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Warranty End Date</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="warrantyEndDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
<!--   
          <mat-form-field appearance="fill">
            <mat-label>Serial Number</mat-label>
            <input matInput formControlName="serialNumber" required>
          </mat-form-field> -->
          <mat-form-field appearance="fill">
            <mat-label>Location</mat-label>
            <input matInput formControlName="location" required>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <input matInput formControlName="status" required>
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Serial Numbers</mat-label>
            <textarea matInput formControlName="serialNumbers" placeholder="Enter multiple serial numbers, separated by commas or new lines"></textarea>
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Notes</mat-label>
            <textarea matInput formControlName="notes"></textarea>
          </mat-form-field>
        </div>
      </mat-card-content>
      
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Add Inventory</button>
        <button mat-button type="reset">Reset</button>
      </mat-card-actions>
    </mat-card>
  </form>
  