<!-- <div><app-navbar></app-navbar> </div> -->
 <div class="top"> </div>
   <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
      <mat-nav-list>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Menu
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item routerLink="add-inventory" class="hover-effect">Add Inventory</mat-list-item>
            <mat-list-item routerLink="edit-inventory"  class="hover-effect">Edit Inventory</mat-list-item>
            <mat-list-item routerLink="issue-inventory" class="hover-effect">Issue Material</mat-list-item>
            <mat-list-item routerLink="receive-inventory" class="hover-effect">Receive Material</mat-list-item>
            <mat-list-item routerLink="inventory-report" class="hover-effect">Inventory Report</mat-list-item>
            <mat-list-item routerLink="report1" class="hover-effect">Report1</mat-list-item>
            <mat-list-item routerLink="add-inventory2" class="hover-effect">Add Inventory2</mat-list-item>
            <mat-list-item routerLink="edit-inventory2"  class="hover-effect">Edit Inventory2</mat-list-item>
            <mat-list-item routerLink="issue-inventory2" class="hover-effect">Issue Materia2</mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content class="sidenav-content">
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Home</span>
         <!-- Right-aligned content -->
      <span class="spacer"></span>
      <span>Session : {{ sessionTime}}</span>
      <button mat-button (click)="logout()">
        <mat-icon style="color: red;transform: scale(1.5);">power_settings_new</mat-icon>
      </button>
      
      </mat-toolbar>
  
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  