.top{
  height: 6vh;
}


.sidenav-container {
    height: 94vh;
  }
  
  .sidenav {
    width: 210px;
    background-color: #50cef5;
  }
  
  .sidenav-content {
    padding: 20px;
   }
  
  .mat-toolbar {
    position: fixed;
    color: #081e3f;
    background-color: #50cef5;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  
  .content {
    margin-top: 0px; /* height of the toolbar */
    padding: 20px;
  }
  .spacer {
    flex: 1 1 auto;
  }
  
  .mat-toolbar .mat-button {
    color: white;
  }



  /* Add hover effect to mat-list-item */
.hover-effect {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover state for mat-list-item */
.hover-effect:hover {
  background-color: #50cef5;
  color: white;
}


